.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.home-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  letter-spacing: 2.6px;
  text-align: center;
  word-spacing: 2px;
  margin-bottom: 0px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
}

.container-one {
  padding-top: 50px;
  padding-bottom: 30px;
}

.undertitle {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  letter-spacing: 2.6px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 2px;
  margin-bottom: 0px;
  color: #181515;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.colum-img {
  width: 200%;
  height: 200%;
  margin: 0;
  text-align: left;
}

figure {
  text-align: center;
}

.scroll-bar {
  max-height: 120px;
  border: 1px solid #181515;
  display: flex;
  overflow-x: auto;
  justify-content: center; 
}

.scroll-bar .item {
  min-width: 110px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  margin-right: 2px;
}

.scroll-bar::-webkit-scrollbar {
  width: 0;
}
